:root {
  line-height: 1.5;
  --nav-color: white;
  font-family: "Roboto", sans-serif;
  --fs-regular: 1rem;
  --fs-medium: 1.25rem;
  --fs-medium-2: 1.5rem;
  --fs-large: 2.5rem;
  --container-padding: 32px;
  --accent-color: #1a92d3;
  --main-background-color: #e2e8f0;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* body */
body {
  display: flex;
  min-height: 100vh;
  width: 100%;
}
/* Utility */
.ml-auto {
  margin-left: auto;
}

/* Nav */
nav {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--accent-color);
  padding: var(--container-padding);
  gap: 48px;
}
/* Logo and title */
.logo-and-title {
  display: flex;
  gap: 8px;
  align-items: center;
}
.logo-and-title img {
  height: 3rem;
  color: azure;
}
.logo-and-title a {
  font-size: var(--fs-medium);
  text-decoration: none;
  color: var(--nav-color);
}
/* Dashboard Group */
.dashboard-group {
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.dashboard-row {
  display: flex;
  gap: 16px;
  font-size: var(--fs-regular);
  align-items: center;
  text-decoration: none;
  color: white;
  --height: 2rem;
  line-height: var(--height);
}

.dashboard-row img {
  height: var(--height);
}

/* header-main-wrapper */
.header-main-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Header */
header {
  box-shadow: 0px 15px 10px -15px black;
}
.header-row {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  background-color: white;
  padding: var(--container-padding);
  align-items: center;
  flex-wrap: wrap;
}

header img {
  height: 2rem;
}
header input {
  background-color: #e2e8f0;
  border-radius: 15px;
  border-color: transparent;
  flex-basis: min(60%, 700px);
  font-size: var(--fs-medium-2);
  padding: 1rem;
}

/* Profile */
.avatar {
  height: 5rem;
  width: 5rem;
}
.avatar-large {
  height: 6rem;
  width: 6rem;
}
.name {
  font-weight: bold;
  font-size: var(--fs-medium-2);
}
.name-intro span {
  line-height: 1;
}
.name-intro span:first-child {
  font-size: var(--fs-medium);
  font-weight: bold;
}
.name-intro span:last-child {
  font-size: var(--fs-large);
  font-weight: bold;
}

/* Action buttons */
.action {
  background-color: var(--accent-color);
  color: white;
  border-radius: 30px;
  border-style: solid;
  border-color: var(--accent-color);
  font-size: var(--fs-medium);
  padding: 1rem;
  width: 150px;
}

/* Main */
main {
  background-color: var(--main-background-color);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: repeat(6, 1fr);
}
h2 {
  font-weight: bold;
  font-size: var(--fs-medium-2);
  margin-bottom: 0.75rem;
}
h3 {
  font-size: var(--fs-medium);
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.projects,
.announcements,
.trending {
  padding: var(--container-padding);
}
/* Projects */
.projects {
  height: 100%;
  grid-column: span 1;
  grid-row: span 6;

  display: flex;
  flex-direction: column;
}
.projects-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  gap: 32px;
}
.projects article {
  padding: 32px;
  background-color: white;
  border: 0px solid transparent;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.projects article::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #f0b429;
}

.projects article p {
  font-style: var(--fs-regular);
  line-height: 1.75;
}
.project-buttons {
  margin-top: auto;
}
.project-buttons button {
  background-color: white;
  border: none;
}
.project-buttons img {
  height: 3rem;
}

/* Announcements */
.announcements {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  display: flex;
  flex-direction: column;
}
.announcements-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  background-color: white;
  height: 100%;
}
.announcements-content article p {
  position: relative;
  padding-bottom: 24px;
}
.announcements-content article p::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -8px;
  border: 1px solid black;
  margin-bottom: 12px;
}
.announcements-content,
.trending-content {
  padding: 32px;
}
/* trending */
.trending {
  grid-column: 2 / span 1;
  grid-row: 4 / span 3;
  display: flex;
  flex-direction: column;
}
.trending-content {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.trending article {
  display: grid;
  column-gap: 16px;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.trending article img {
  grid-row: span 2;
}
.trending article * {
  align-self: center;
}
