@import "../node_modules/modern-normalize/modern-normalize.css";

:root {
  line-height: 1.5;
  --aside-color: white;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol[role="list"],
ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* body */
body {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* Aside */
aside {
  display: flex;
  flex-direction: column;
  background-color: #1a92d3;
  padding: 24px;
  gap: 48px;
}
/* Logo and title */
.logo-and-title {
  display: flex;
  gap: 16px;
  align-items: center;
}
.logo-and-title img {
  height: 5rem;
  color: azure;
}
.logo-and-title a {
  font-size: 3rem;
  text-decoration: none;
  color: var(--aside-color);
}
/* Dashboard Group */
.dashboard-group {
  padding-inline: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.dashboard-row {
  display: flex;
  gap: 16px;
  font-size: 3rem;
  align-items: center;
  text-decoration: none;
  color: white;
  --height: 3rem;
  line-height: var(--height);
}

.dashboard-row img {
  height: var(--height);
}
